@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Poppins&display=swap');

:root {
  --white: #eceff4;
  --black: #4c566a;
  --blue: #81a1c1;
  --red: #bf616a;
  --dark-white: #d8dee9;
  --dark-black: #434c5e;
  --dark-blue: #5e81ac;
}

body {
  margin: 2em;
  background-color: var(--white);
  color: var(--dark-black);
  font-size: 18pt;
  font-family: "IBM Plex Sans", sans-serif;
}

.content {
  max-width: 720px;
  margin: auto;
}

.hidden {
  color: var(--dark-white);
}

#header {
  font-family: "Poppins", sans-serif;
}

#header h1 {
  color: var(--dark-blue);
  font-size: 60pt;
  font-weight: Normal;
  margin-bottom: -0.5em;
}

#header p {
  color: var(--black);
}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 14pt;
}

#header ul li {
  display: block;
  float: left;
}

#footer {
  float: right;
  font-size: 12pt;
}

#carousel a {
  padding: 0;
  margin: 0;
}

#carousel_nav {
  color: var(--dark-black);
  text-align: center;
  margin-bottom: -0.5em;
}

#carousel_nav a {
  display: inline;
  padding: 1em;
  margin: 0;
}

#carousel_nav a:hover {
  display: inline;
  cursor: pointer;
}

#carousel_caption {
  text-align: center;
}

#commits ul li {
  margin-top: -0.75em;
  font-size: 16pt;
}

hr {
  color: var(--blue);
}

h1 {
  color: var(--dark-blue);
}

img {
  width: 100%;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
  margin-right: 1em;
}

a:hover {
  color: var(--blue);
}

textarea {
  box-sizing: border-box;
  width: 100%;
  color: var(--black);
  font-size: 16pt;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0.5em;
  background-color: var(--white);
  border: 2pt solid var(--dark-white);
  border-bottom: 2pt solid var(--blue);
  resize: none;
}

input[type=text] {
  color: var(--black);
  font-size: 16pt;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0.5em;
  background-color: var(--white);
  border: 2pt solid var(--dark-white);
  border-bottom: 2pt solid var(--blue);
  width: 50%;
}

input[type=submit] {
  display: block;
  margin-left: auto;
  margin-right: 0;
  background-color: var(--dark-blue);
  font-size: 14pt;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border: none;
  color: var(--white);
  padding: 1em 3em;
  text-decoration: none;
  border-radius: 5pt;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--blue);
}

.error {
  color: var(--red);
}
